.Rproj.user
.Rhistory
.RData
.Ruserdata
affinity_titleslide
template_doc_files/libs/bootstrap/bootstrap-icons.css
template_doc_files/libs/bootstrap/bootstrap-icons.woff
template_doc_files/libs/bootstrap/bootstrap.min.css
template_doc_files/libs/bootstrap/bootstrap.min.js
template_doc_files/libs/clipboard/clipboard.min.js
template_doc_files/libs/quarto-html/anchor.min.js
template_doc_files/libs/quarto-html/popper.min.js
template_doc_files/libs/quarto-html/quarto-syntax-highlighting.css
template_doc_files/libs/quarto-html/quarto.js
template_doc_files/libs/quarto-html/tippy.css
template_doc_files/libs/quarto-html/tippy.umd.min.js
