/*-- scss:defaults --*/

$body-bg: #ffffff;
$body-color: rgb(8, 8, 8);
$link-color: #000080;

// fonts
$font-family-sans-serif: “Source Sans Pro”, Arial, sans-serif !default;
$font-family-serif:  'Times New Roman', Times, serif;
$font-weight: 300;

$presentation-line-height: 1.5;
$presentation-h2-font-size: 1.5em;

$tabset-border-color: #b43030;


/*-- scss:rules --*/
/*creates Title slide*/

#title-slide {

  background-color: white;
  color: #894E11;
  padding: 20px;
  text-align: left;
  position: fixed !important;
  top: 20% !important;
  width: auto;
  max-width: 65%;
  right: -15%;

  .title {
    font-size: 42pt;
    padding-top: 0.2em;
    padding-left: 0.2em;
    color:#894E11;
    font-family:$font-family-serif !important;
    font-weight: $font-weight;
  }

  .author, .quarto-title-author-name {
    font-size: 12pt;
  }
  
  .quarto-title-authors {
    display: flex;
    justify-content: right;
  
    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }

  
  p.author::before, div.quarto-title-author::before {
  content: "";
  display: block;
  border: none;
  background-color:#894E11;
  color:#894E11;
  width: 100%;
  margin-left: auto; 
  margin-right:0; 
  height: 2px;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  }

}


/*slide number position */

.reveal .slide-number {
  font-family: $presentation-heading-font;
  bottom: 10px !important;
  left: 10px  !important;
  top: unset !important;
}

/*logo size and position */

.slide-logo {
  display: block; 
  position: fixed !important;
  bottom: 0 !important;
  right: 10px !important;
  max-height: 15% !important;
  height: 100% !important;
  width: auto !important;
  color: $body-color !important;
}

/*slide menu button size and position */

.slide-menu-button {
  position: fixed;
  top: 10px !important;
  right: 10px !important;
  bottom: unset !important;
  left: unset !important

}

.a {
  font-size: 50pt; /* Change the font size to your desired value */
  color: #FF0000 !important; /* Change the color to your desired value */
}


/*Slide titles */
.reveal .slide h2 { 
  font-family: $font-family-serif;
  color:#894E11;
}
