/*-- scss:defaults --*/

$body-bg: #ffffff;
$body-color: rgb(8, 8, 8);
$link-color: #42affa;

// fonts
$font-family-sans-serif: “Source Sans Pro”, Arial, sans-serif !default;
$font-family-serif:  'Times New Roman', Times, serif;

$presentation-line-height: 1.5;
$presentation-h2-font-size: 1.5em;

$tabset-border-color: #b43030;


/*-- scss:rules --*/

/*creates Title slide*/

#title-slide {
  background-color: white;
  color: #894E11;
  padding: 20px;
  text-align: left;
  position: fixed !important;
  top: 25% !important;
  width: auto;
  max-width: 50%;
  right: -40px;

  .title {
    font-size: 75%;
    color:#894E11;
    font-family: 'Times New Roman', Times, serif;
  }

  .author, .quarto-title-author-name {
    font-size: 40%;
  }

  .quarto-title-authors {
    display: flex;
    justify-content: right;
  
    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }

  .date, .quarto-title {
    font-size: 40%;
  }
  
  
  p.author::before, div.quarto-title-author::before {
  content: "";
  display: block;
  border: none;
  background-color:#894E11;
  color:#894E11;
  width: 100%;
  margin-left: auto; 
  margin-right: 0; 
  height: 3px;
  margin-bottom: 0em;
  margin-top: 0em;
  }

}


/*logo size and position */

.reveal .slide-number {
  font-family: $presentation-heading-font;
}


.slide-logo {
  display: block !important;
  position: fixed !important;
  bottom: 0 !important;
  right: 10px !important;
  max-height: 15% !important;
  height: 100% !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-number, .reveal.has-logo .slide-number {
  bottom: 10px !important;
  right: 10px !important;
  top: unset !important;
  color: $body-color !important;
}





/*Slide titles */
.reveal .slide h2 { 
  font-family: $font-family-serif;
  color:#894E11;
}


/*creates line below headline on slide
.reveal .slide h2 { 
  font-family: $font-family-serif;
  width:100%;
  border-bottom: solid 1px #894E11;
}

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}
*/